@font-face {
    font-family: "Inter";
    src: url("./components/fonts/Inter-VariableFont_slnt\,wght.ttf")
        format("truetype");
}
:root {
    --bg: #02111b;
    --fr: white;
    --hoverBg: #8b8ea8;
    --border: #555766;
    --main: #2cab5d;
    --mainDark: #257e47;
}
* {
    font-family: "Inter", sans-serif;
}

body {
    background-color: rgb(4, 13, 20);
    color: var(--fr);
}
button {
    background-color: var(--main);
    color: var(--fr);
    font-size: 2rem;
    border: 1px solid var(--border);
    cursor: pointer;
    border-radius: 1vw;
    user-select: none;
}
button:hover {
    background-color: var(--mainDark);
}
input {
    font-size: 3rem;
    width: 20%;
}
a {
    color: var(--main);
}
.header {
    border-bottom: solid var(--border);
    margin-bottom: 2em;
}
.img {
    width: 10vw;
    background-color: white;
}
.message {
    background-color: var(--bg);
    padding: 1vw;
    border: 1px solid var(--border);
    border-radius: 2vw;
    overflow-wrap: anywhere;
}
.message:hover {
    border: 2px solid var(--hoverBg);
}
.messages {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 2vw 3vw 0 0;
}
.date {
    opacity: 0.4;
    margin: 0;
}
.addDrawing {
    float: right;
    padding: 0.2vw;
}
.addForm > * {
    font-size: 2rem;
    margin: 1vw;
}
.drawing {
    float: right;
    width: 50%;
    position: absolute;
    top: 0%;
    right: 20%;
}
#canvas {
    background-color: white;
}
.floatRight {
    float: right;
}
.error {
    color: red;
}

.usernameDiv {
    user-select: none;
}
.logo {
    width: 10vw;
    cursor: pointer;
}
.insta {
    padding: 3vw;
}
.insta > button {
    padding: 0.5vw;
}
.insta > button > img {
    width: 8vw;
}
.profileMin {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 20vw;
    text-align: end;
    margin: 0 1vh 5vh;
}
.pfp {
    width: 2vw;
}
.no {
    display: none;
}

@media only screen and (max-width: 810px) {
    .messages {
        grid-template-columns: repeat(1, 1fr);
        margin: 10vw 0vw 0 0;

        gap: 10px;
        grid-auto-rows: minmax(10px, auto);
    }
    .message {
        width: 80vw;
    }
    .img {
        width: 50vw;
    }
    .logo {
        width: 30vw;
    }

    /* the drawing screen */
    .drawing {
        width: 100vw;
        position: absolute;
        top: 35%;
        right: 0%;
        overflow: hidden;
    }
    #canvas {
        width: 100%;
        height: 100%;
    }
    input {
        width: 45%;
    }
    .newDrawing {
        -webkit-user-select: none; /* Chrome all / Safari all */
        -moz-user-select: none; /* Firefox all */
        -ms-user-select: none; /* IE 10+ */
        -o-user-select: none;
        user-select: none;
        overflow: hidden;
    }
    .newchalkaInput {
        width: 70%;
    }
    .colorInput {
        position: absolute;
        top: -20vh;
        right: -20vw;
        transform: rotate(90deg);
    }
}
