@font-face {
    font-family: "Inter";
    src: url("./components/fonts/Inter-VariableFont_slnt\,wght.ttf")
        format("truetype");
}
:root {
    --bg: #02111b;
    --fr: white;
    --border: #555766;
    --main: #2cab5d;
}
* {
    font-family: "Inter", sans-serif;
}

body {
    background-color: rgb(4, 13, 20);
    color: var(--fr);
}
button {
    background-color: var(--main);
    color: var(--fr);
    font-size: 2rem;
    border: 1px solid var(--border);
    cursor: pointer;
    border-radius: 1vw;
    user-select: none;
}
input {
    font-size: 3rem;
    width: 20%;
}

.img {
    width: 10vw;
    background-color: white;
}
.message {
    background-color: var(--bg);
    padding: 1vw;
    border: 1px solid var(--border);
    border-radius: 2vw;
}
.messages {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 2vw 3vw 0 0;
}
.date {
    opacity: 0.4;
    margin: 0;
}
.addDrawing {
    float: right;
    padding: 0.2vw;
}
.addForm {
}
.addForm > * {
    font-size: 2rem;
    margin: 1vw;
}
.drawing {
    float: right;
    width: 50%;
    position: absolute;
    top: 0%;
    right: 20%;
}
#canvas {
    background-color: white;
}
.floatRight {
    float: right;
}
.error {
    color: red;
}

.usernameDiv {
    user-select: none;
}
.logo {
    width: 10vw;
    cursor: pointer;
}

@media only screen and (max-width: 810px) {
    .messages {
        grid-template-columns: repeat(1, 1fr);
        margin: 10vw 0vw 0 0;

        gap: 10px;
        grid-auto-rows: minmax(10px, auto);
    }
    .message {
        width: 80vw;
    }
    .img {
        width: 50vw;
    }
    .logo {
        width: 30vw;
    }
}
